* {
  margin: 0;
  padding: 0;
}

/*navbar section*/

.navbar {
  background-color: transparent !important;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
}
.navbar .container-fluid {
  width: auto;
}
.navbar img {
  width: 21rem;
  margin-right: 4rem;
}
.navbar .nav-link {
  color: white !important;
  font-size: 21px;
  text-transform: uppercase;
  padding-bottom: 0px;
  position: relative;
  font-family: "georgia";
  text-shadow: 2px 1px #585353;
}
@media (width: 375px) {
  .navbar {
    background-color: #002144 !important;
    justify-content: start;
  }
  .navbar .container-fluid {
    margin: 0;
    width: 100%;
  }
  .navbar img {
    width: 10rem;
  }
  .navbar .navbar-nav {
    padding-block: 1rem;
  }
}
@media (max-width: 992px) {
  .navbar {
    background-color: #002144 !important;
    justify-content: start;
  }
  .navbar .container-fluid {
    margin: 0;
    width: 100%;
  }
  .navbar img {
    width: 10rem;
  }
  .navbar .navbar-nav {
    padding-block: 1rem;
  }
}
@media (width: 1024px) {
  .navbar .container-fluid {
    width: 100%;
    margin: 0;
  }
  .navbar img {
    width: 15rem;
    margin-right: -2rem;
  }
  .navbar-expand-lg .navbar-collapse {
    justify-content: end;
  }
  .navbar .nav-link {
    font-size: 20px;
  }
}
/*caro section*/
.caro {
  overflow: hidden;
}
.carousel .caro-caption {
  position: absolute;
  bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.carousel .caro-caption h1 {
  color: #fff;
  font-size: 54px;
  font-weight: bold;
  margin: 0 0 0px 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.35);
  display: inline-block;
  font-family: "georgia";
}
.carousel .caro-caption h3 {
  color: #fff;
  font-size: 39px;
  line-height: 30px;
  margin: 0px 0 10px;
  padding: 10px 0 10px;
  font-family: "georgia";
  letter-spacing: 1px;
  background: rgba(0, 0, 0, 0.35);
  display: inline-block;
  font-style: italic;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  border: 1px solid white;
  padding: 1.8rem;
  border-radius: 50%;
}
.carousel-control-prev {
  left: -60px;
}
.carousel-control-next {
  right: -60px;
}

@media (width: 375px) {
  .carousel .carousel-inner {
    height: 24rem;
  }
  .carousel .carousel-item,
  .carousel .carousel-item img {
    height: 100%;
  }
  .carousel .caro-caption {
    bottom: 0;
    background-color: #000;
  }
  .carousel .caro-caption h1 {
    font-size: 20px;
    margin-top: 10px;
  }
  .carousel .caro-caption h3 {
    font-size: 16px;
    padding: 0;
  }
  .carousel-control-prev {
    left: 20px;
  }
  .carousel-control-next {
    right: 20px;
  }
}
@media (max-width: 992px) {
  .carousel .carousel-inner {
    height: 24rem;
  }
  .carousel .carousel-item,
  .carousel .carousel-item img {
    height: 100%;
  }
  .carousel .caro-caption {
    bottom: 0;
    background-color: #000;
  }
  .carousel .caro-caption h1 {
    font-size: 20px;
    margin-top: 10px;
  }
  .carousel .caro-caption h3 {
    font-size: 16px;
    padding: 0;
  }
  .carousel-control-prev {
    left: 20px;
  }
  .carousel-control-next {
    right: 20px;
  }
}
@media (width: 1024px) {
  .carousel .caro-caption h1 {
    font-size: 46px;
  }
  .carousel .caro-caption h3 {
    font-size: 36px;
  }
  .carousel-control-prev {
    left: 0;
  }
  .carousel-control-next {
    right: 0;
  }
  .carousel .caro-caption {
    bottom: 0;
  }
}

/*welcome section */
.welcome {
  padding-block: 1rem;
  background: url("https://www.stutzbeach.com/images/backimg.jpg");
  position: relative;
}
.welcome a img {
  width: 95%;
  z-index: 9;
  position: relative;
  margin: 20px 0 20px 20px;
  position: relative;
  height: 350px;
  object-fit: cover;
  box-shadow: #8d7a67 0px 0px 15px 0px;
}
.welcome .wel_content h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-family: "georgia";
}
.wel_content p {
  font-size: 21px;
  line-height: 2rem;
  font-family: "georgia";
}
.wel_content .btn a {
  background-color: #8d7a67;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  display: inline-block;
  font-weight: normal;
  text-align: center;
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
  color: white;
  text-decoration: none;
}
.wel_content .btn a:hover {
  background-color: #806f5e;
}

@media (width: 375px) {
  .welcome a img {
    margin: 20px 20px 20px 10px;
  }
  .welcome .wel_content h2 {
    font-size: 1.8rem;
  }
}
@media (max-width: 992px) {
  .welcome a img {
    height: 570px;
    border-radius: 10px;
  }
}
@media (width: 1024px) {
  .welcome a img {
    height: 430px;
    border-radius: 10px;
  }
}

/*quality section*/
.quality {
  background-color: #002144;
  padding-block: 2rem;
  padding-inline: 21rem;
}
.quality .quality_content {
  text-align: center;
  color: white;
  padding-block: 2rem;
  border-radius: 10px;
  padding-top: 1rem;
  margin-bottom: 10px;
  padding-inline: 5px;
}
.quality .bl {
  background-color: black;
}
.quality .br {
  background-color: #8d7a67;
}
.quality .blu {
  background-color: #408ee3;
}
.quality .quality_content img {
  text-align: center;
  width: 60px;
  height: 60px;
  padding: 10px;
  text-align: center;
  display: block;
  background: rgba(0, 0, 0, 0.43);
  line-height: 50px;
  border-radius: 50px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.3411764705882353);
}
.quality .quality_content h3 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.quality .quality_content p {
  color: #fff;
  line-height: 2rem;
  font-size: 22px;
}
@media (max-width: 992px) {
  .quality {
    padding-inline: 1rem;
  }
  .quality .quality_content {
    height: 25rem;
  }
}
@media (width: 1024px) {
  .quality {
    padding-inline: 1rem;
  }
  .quality .quality_content {
    height: 20rem;
  }
}
/*Owl section*/

.Owl_block {
  text-align: center;
  background: black;
  padding-block: 2rem;
  padding-inline: 20rem;
}
.Owl_block h3 {
  font-size: 2.5rem;
  margin-block: 2rem;
  font-family: "georgia";
  color: white;
  position: relative;
}
.Owl_block h3::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -2rem;
  background-color: #8d7a67;
  height: 5px;
  width: 8rem;
  transform: translateX(-50%);
}
.Owl_block .owl-carousel {
  margin-top: 5rem;
}
.Owl_block .owl-carousel .block {
  background: #fff;
  min-height: 450px;
}
.Owl_block .owl-carousel .block img {
  height: 250px;
  object-fit: cover;
  width: 100%;
}
.Owl_block .owl-carousel .block .block_content {
  padding: 18px;
}
.Owl_block .owl-carousel .block h5 {
  margin: 10px 0 15px;
  font-size: 24px;
  position: relative;
}
.Owl_block .owl-carousel .block h5::after {
  position: absolute;
  content: "";
  width: 4rem;
  height: 1px;
  background-color: #8d7a67;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.Owl_block .owl-carousel .block p {
  font-family: "georgia";
  font-size: 20px;
}
.Owl_block .owl-carousel .block a {
  color: #8d7a67;
  text-decoration: underline;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  display: inline-block;
  background: #8d7a67 !important;
  color: #fff !important;
  border-radius: 5px !important;
  padding: 10px 25px !important;
  margin: 10px 5px !important;
  border: 1px solid #fff !important;
}
.owl-carousel .owl-nav button span {
  font-size: 30px !important;
  height: 34px;
}
.owl-carousel .owl-nav button:hover {
  background-color: black !important;
  color: white !important;
}
@media (width: 375px) {
  .Owl_block {
    padding-inline: 0.5rem;
  }
  .Owl_block h3 {
    font-size: 1.8rem;
    margin-block: 0;
  }
  .Owl_block h3::after {
    bottom: -1rem;
  }
  .Owl_block .owl-carousel {
    margin-top: 3rem;
  }
}

@media (max-width: 992px) {
  .Owl_block {
    padding-inline: 1rem;
  }
  .Owl_block .owl-carousel .block {
    height: 43rem;
  }
  .Owl_block .owl-carousel .block img {
    height: 290px;
  }
}
@media (width: 1024px) {
  .Owl_block {
    padding-inline: 1rem;
  }
  .Owl_block .owl-carousel {
    margin-top: 0rem;
  }
  .Owl_block h3 {
    margin-block: 1rem;
  }
  .Owl_block .owl-carousel .block {
    height: 37rem;
  }
  .Owl_block .owl-carousel .block img {
    height: 290px;
  }
}

/*review section*/

.review {
  background: url("https://www.stutzbeach.com/images/backimg.jpg");
  position: relative;
}
.review .container-fluid {
  text-align: center;
  padding-block: 2rem;
  padding-inline: 20rem;
}
.review .reviews {
  margin-bottom: 8rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.review .rv_block {
  position: relative;
  background: #8d7a6747;
  height: 300px;
  padding: 20px;
}
.review .rv_block img {
  position: absolute;
  width: 100px !important;
  height: 100px;
  border-radius: 50%;
  z-index: 99;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
  box-shadow: 0px 0px 5px #000;
  background: #fff;
}
.review .rv_block .rv_block_content {
  position: absolute;
  text-align: start;
  bottom: 2rem;
}
.review .rv_block_content h5 {
  padding-top: 45px;
  font-size: 22px;
  color: #8d7a67;
  font-weight: bold;
  font-family: "georgia";
}
.review .rv_block_content h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 27px;
  font-family: "georgia";
}
.review .rv_block_content p {
  font-size: 19px;
  margin-bottom: 1rem;
}
.owl-carousel .owl-stage-outer {
  padding-top: 4rem;
}

@media (width: 375px) {
  .review .container-fluid {
    padding-inline: 1rem;
  }
  .review .rv_block {
    height: 370px;
  }
}
@media (max-width: 992px) {
  .review .container-fluid {
    padding-inline: 1rem;
  }
  .review .rv_block {
    height: 330px;
  }
  .review .reviews {
    margin-bottom: 2rem;
  }
}
@media (width: 1024px) {
  .review .container-fluid {
    padding-inline: 1rem;
  }
  .review .reviews {
    margin-bottom: 3rem;
  }
  .review .rv_block {
    height: 330px;
  }
}

/*footer section*/

footer {
  padding-block: 2rem;
  background-color: #8d7a67;
}
footer .container-fluid {
  padding-inline: 20rem;
}
footer ul {
  list-style: none;
  border-right: 1px solid wheat;
}
footer ul .fut_heading {
  color: #fff;
  margin-bottom: 30px;
  font-size: 1.75rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
footer ul img {
  width: 17rem;
  margin-bottom: 1.75rem;
}
footer ul li {
  margin-bottom: 5px;
  font-size: 20px;
  color: white;
}
footer ul li a {
  color: #fff;
  font-size: 23px;
  display: inline-block;
  line-height: 2.5rem;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}
footer ul li a:hover {
  text-decoration: underline;
  color: #fff;
}
footer .ft_botm {
  background-color: black;
  opacity: 80%;
  padding-inline: 20rem;
  position: relative;
  bottom: -32px;
}
footer .ft_botm .fut_bottom {
  display: flex;
  height: 50px;
  align-items: center;
}
footer .ft_botm .rt {
  justify-content: end;
}
footer .ft_botm .fut_bottom p {
  margin: 0;
  color: white;
}
footer .ft_botm img {
  width: 100px;
}

@media (width: 375px) {
  footer {
    padding-block: 10px;
  }
  footer .container-fluid {
    padding-inline: 0.5rem;
  }
  footer .fut_block {
    margin-block: 1rem;
  }
  footer .fut_block ul {
    padding-inline: 10px;
    border-right: none;
    margin-bottom: 0;
  }
  footer ul .fut_heading {
    margin-bottom: 15px;
    font-size: 1.75rem;
  }
  footer ul img {
    width: 14rem;
    margin-bottom: 1rem;
  }
  footer ul .fut_heading {
    margin-bottom: 10px;
    font-size: 26px;
  }
  footer ul li a {
    font-size: 18px;
  }
  footer .ft_botm {
    padding-inline: 0rem;
    bottom: -12px;
  }
  footer .ft_botm .fut_bottom {
    justify-content: center;
    height: 40px;
  }
  footer .ft_botm .rt {
    justify-content: center;
  }
}

@media (max-width: 992px) {
  footer {
    padding-block: 10px;
  }
  footer .container-fluid {
    padding-inline: 1rem;
  }
  footer .fut_block ul {
    padding-inline: 0;
  }
  footer ul img {
    width: 12rem;
  }
  footer .ft_botm {
    padding-inline: 5rem;
    bottom: -9px;
  }
}
@media (width: 1024px) {
  footer {
    padding-block: 1rem;
  }
  footer .container-fluid {
    padding-inline: 1rem;
  }
  footer .fut_block ul {
    padding-inline: 0;
  }
  footer ul img {
    width: 15rem;
    margin: 0;
  }
  footer .ft_botm {
    padding-inline: 4rem;
    bottom: -14px;
  }
}
